
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
}
header {
    background: linear-gradient(to right, #85e4d7, #ddaaff, #ffc0cb);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    width: 50px;
}
main {
    display: flex;
}
.sidebar {
    width: 200px;
    background: #f0f0f0;
    padding: 10px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    margin: 10px 0;
    cursor: pointer;
}
.content {
    flex-grow: 1;
    padding: 20px;
}
.modulo-content {
    display: none;
}
.modulo-content:not(.hidden) {
    display: block;
}
